<?xml version="1.0" encoding="utf-8"?>
<Config>
	<Background>
		<Width>790</Width>
		<Height>790</Height>
	</Background>
	<LayerList>
		<LayerItem>
			<Left>10</Left>
			<Top>10</Top>
			<Width>250</Width>
			<Height>250</Height>
			<Color>
				<A>255</A>
				<R>178</R>
				<G>227</G>
				<B>255</B>
			</Color>
		</LayerItem>
		<LayerItem>
			<Left>270</Left>
			<Top>10</Top>
			<Width>250</Width>
			<Height>250</Height>
			<Color>
				<A>255</A>
				<R>217</R>
				<G>237</G>
				<B>147</B>
			</Color>
		</LayerItem>
		<LayerItem>
			<Left>530</Left>
			<Top>10</Top>
			<Width>250</Width>
			<Height>250</Height>
			<Color>
				<A>255</A>
				<R>218</R>
				<G>207</G>
				<B>250</B>
			</Color>
		</LayerItem>
		<LayerItem>
			<Left>10</Left>
			<Top>270</Top>
			<Width>510</Width>
			<Height>250</Height>
			<Color>
				<A>255</A>
				<R>255</R>
				<G>206</G>
				<B>185</B>
			</Color>
		</LayerItem>
		<LayerItem>
			<Left>530</Left>
			<Top>270</Top>
			<Width>250</Width>
			<Height>250</Height>
			<Color>
				<A>255</A>
				<R>255</R>
				<G>149</G>
				<B>187</B>
			</Color>
		</LayerItem>
		<LayerItem>
			<Left>10</Left>
			<Top>530</Top>
			<Width>510</Width>
			<Height>250</Height>
			<Color>
				<A>255</A>
				<R>207</R>
				<G>251</G>
				<B>204</B>
			</Color>
		</LayerItem>
		<LayerItem>
			<Left>530</Left>
			<Top>530</Top>
			<Width>250</Width>
			<Height>250</Height>
			<Color>
				<A>255</A>
				<R>255</R>
				<G>164</G>
				<B>164</B>
			</Color>
		</LayerItem>
	</LayerList>
</Config>