[default]
datadir=default
0=https://cloud.wps.com
1=https://account.wps.com
2=https://vip.wps.com
3=https://vip.wps.com
4=http://qpush.wps.com
5=http://lrcresource.wps.cn
6=http://www.wps.com

7=qingversion.wps.cn
8=qingcenter.wps.cn
9=lrcversion.wps.cn
10=qingcenter.wps.cn

11=http://qinfo.kingsoftstore.com
12=http://qdyn.kingsoftstore.com
13=http://info.kingsoftstore.com

; 用户或激活码授权服务器
14=https://uc.wps.com

; 企业内网版本控制开关
15=
16=https://account.wps.com/qinglogin
17=https://account.wps.com/qinglogin
18=
19=

20=
21=
;WPSRootDomain
22=.wps.com
23=https://drive.wps.cn
24=https://web1.file.cache.docer.com/apps/spa_loginshow/?from=
25=
26=

[qing.wps.cn]
datadir=qing
0=https://qing.wps.cn
1=https://account.wps.cn
2=https://account.wps.cn
3=https://account.wps.cn
4=http://qpush.wps.cn
5=http://lrcresource.wps.cn
6=http://www.wps.cn

7=qingversion.wps.cn
8=qingcenter.wps.cn
9=lrcversion.wps.cn
10=qingcenter.wps.cn

11=http://qinfo.wps.cn
12=http://qdyn.wps.cn
13=http://info.wps.cn

; 用户或激活码授权服务器
14=https://apivip.wps.cn   

; 企业内网版本控制开关
15=
16=https://account.wps.cn/qinglogin.html
17=https://account.wps.cn/qinglogin.html
18=
19=

20=
21=
22=.wps.cn

23=https://drive.wps.cn
24=https://web1.file.cache.docer.com/apps/spa_loginshow/?from=
25=https://notice.wps.cn
26=
