/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	border:none
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}




/*html styles*/
body { font-size: 9pt; text-align: center; background-color: #ffffff; voice-family: inherit; font-family: verdana, arial, sans-serif; color: #000; line-height: 130%; z-index:0; }

h1 { font-size:15pt; margin: 4px 0 12px 0; font-weight:bold; color: #000; line-height:110%; }

h2 { font-size:13pt; margin:16px 0 6px 0;font-weight:bold;  }

h3 { font-size:10pt; margin:14px 0 4px 0;font-weight:bold;  }

h4 { font-size:9pt; margin:12px 0 0 0;font-weight:bold;  }

p { margin-bottom:6px; }

p, ul, ol { font-size:9pt; }

strong { font-weight:bold; }

ul { margin:0 0 0 16px; list-style: none; }
li { margin:0 0 4px 0; }

ol { padding-left:1.2em; list-style: decimal; }
ol li { margin:0 0 4px 1em; padding:0; }

em { font-style:italic; }

.nowrap { white-space:nowrap; }

sup { vertical-align: top; font-size: 80% }
sub { vertical-align: sub; font-size: 80%; line-height:0; }

input {font-size: 7.5pt; color: #000; margin:0 4px 0 0;}

blockquote { margin-left: 24px; }

blockquote p { line-height:9.5pt; margin:0; spacing:0; }

form { margin:10 0 10 0; }

form .req { font-weight:bold; }

form td {padding:4 4 4 0;}

#container { margin: 0 auto; width: 100%; text-align: left; background-color: #ffffff; }

#masthead { height:68px; width:100%; background-image:url("Images/masthead-bg.gif"); background-repeat:repeat-x; margin:0 0 0 0;  padding:0; }

a:link { text-decoration: none; color:#4391c8; }
a:visited { text-decoration: none; color:#4391c8; }
a:hover {text-decoration: underline;}

#body-main { padding:0 10px 24px 20px;}

#sideNav { width:185px; padding:0 0 0px 6px; }
* html #sideNav { width:193px; } /* IE HACK */
#sideNav, #sideNav a:link, #sideNav a:visited { color:#4391c8;  text-decoration:none; }
#sideNav a:hover { color:#4391c8;  text-decoration:underline; }

#sideNav h2 { font-size:8pt; margin:0 0 0 0; }
#sideNav h2 img { top: 2px; position: relative; }

#sideNav ul { margin:3px 0 0 16px; list-style: none; }
#sideNav ul ul { margin-left:10px; }

#sideNav li { line-height:1em; margin-bottom:3px; font-size:8pt; color:#4391c8;  }

#sideNav h2.current a, #sideNav li.current a, #sideNav div#active a { color:black;  }
#sideNav li.current, #sideNav li.current a { font-weight:bold; }

.sideNavGroup {
	padding-top:6px;
	padding-bottom:8px;
}

.sideNavGroup img { margin:0px 3px 0 0; }
.sideNavGroup ul.off { display:none; }
.sideNavGroup ul.current { display:inherit }

.off { display:none; }

#content  { margin-left:24px; padding-bottom:30px; vertical-align:top; width:586px;}

.clear { clear:both; }

.imageList img {padding:6px;}