<?xml version="1.0" encoding="utf-8"?>
<Config>
	<Background>
		<Width>630</Width>
		<Height>630</Height>
	</Background>
	<LayerList>
		<LayerItem>
			<Left>10</Left>
			<Top>10</Top>
			<Width>610</Width>
			<Height>300</Height>
			<Color>
				<A>255</A>
				<R>178</R>
				<G>227</G>
				<B>255</B>
			</Color>
		</LayerItem>
		<LayerItem>
			<Left>10</Left>
			<Top>320</Top>
			<Width>300</Width>
			<Height>300</Height>
			<Color>
				<A>255</A>
				<R>217</R>
				<G>237</G>
				<B>147</B>
			</Color>
		</LayerItem>
		<LayerItem>
			<Left>320</Left>
			<Top>320</Top>
			<Width>300</Width>
			<Height>145</Height>
			<Color>
				<A>255</A>
				<R>218</R>
				<G>207</G>
				<B>250</B>
			</Color>
		</LayerItem>
		<LayerItem>
			<Left>320</Left>
			<Top>475</Top>
			<Width>300</Width>
			<Height>145</Height>
			<Color>
				<A>255</A>
				<R>255</R>
				<G>206</G>
				<B>185</B>
			</Color>
		</LayerItem>
	</LayerList>
</Config>