<?xml version="1.0" encoding="utf-8"?>
<Config>
	<TemplateList>
		<Template>
			<Name>8张1寸照--5寸/3R相纸</Name>
			<File>IDPhotoTemplate1.xml</File>
		</Template>
		<Template>
			<Name>9张身份证照--5寸/3R相纸</Name>
			<File>IDPhotoTemplate2.xml</File>
		</Template>
		<Template>
			<Name>4张护照照片--5寸/3R相纸</Name>
			<File>IDPhotoTemplate3.xml</File>
		</Template>
		<Template>
			<Name>4张大2寸照--5寸/3R相纸</Name>
			<File>IDPhotoTemplate4.xml</File>
		</Template>
		<Template>
			<Name>16张1寸照--6寸/4R相纸</Name>
			<File>IDPhotoTemplate5.xml</File>
		</Template>
		<Template>
			<Name>8张2寸照--6寸/4R相纸</Name>
			<File>IDPhotoTemplate6.xml</File>
		</Template>
		<Template>
			<Name>1寸2寸混排_1--5寸/3R相纸</Name>
			<File>IDPhotoTemplate7.xml</File>
		</Template>
		<Template>
			<Name>1寸2寸混排_2--6寸/4R相纸</Name>
			<File>IDPhotoTemplate8.xml</File>
		</Template>
		<Template>
			<Name>1寸2寸混排_3--6寸/4R相纸</Name>
			<File>IDPhotoTemplate9.xml</File>
		</Template>
		<Template>
			<Name>2张小皮夹照--5寸/3R相纸</Name>
			<File>IDPhotoTemplate10.xml</File>
		</Template>
		<Template>
			<Name>2张大皮夹照--6寸/4R相纸</Name>
			<File>IDPhotoTemplate11.xml</File>
		</Template>
		<Template>
			<Name>8张1寸照--A4相纸</Name>
			<File>IDPhotoTemplate12.xml</File>
		</Template>
		<Template>
			<Name>4张2寸照--A4相纸</Name>
			<File>IDPhotoTemplate13.xml</File>
		</Template>
		<Template>
			<Name>6张2寸照--A4相纸</Name>
			<File>IDPhotoTemplate14.xml</File>
		</Template>
	</TemplateList>
</Config>