<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SolutionNameInputFm" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="FormRem" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <SolutionNameInputFm>
    <add key="KOpenIt" value="True" />
  </SolutionNameInputFm>
  <FormRem>
    <add key="K-336114179" value="000001B2000000AF000001F100000185" />
    <add key="K621412981" value="00000000000000000000048700000260" />
    <add key="K733786678" value="00000000000000000000048700000260" />
    <add key="K-18517935" value="00000000000000000000048700000260" />
    <add key="K11141770" value="000000B0000000B00000027D000001B9" />
    <add key="K-1682221155" value="0000004200000042000001DC000000BF" />
  </FormRem>
  <appSettings>
    <add key="lastSyncTime" value="0"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1"/>
  </runtime>
</configuration>
