<?xml version="1.0" encoding="utf-8"?>
<Config>
	<ResizeAdjustCommonWidth>
		<Item3>1800</Item3>
		<Item2>1024</Item2>
		<Item1>800</Item1>
	</ResizeAdjustCommonWidth>
	<NeoImaging.ImageCutout.AddBkg.Color5.Green>255</NeoImaging.ImageCutout.AddBkg.Color5.Green>
	<BasicAdjustHistogramIsSelected>false</BasicAdjustHistogramIsSelected>
	<NeoImaging.ImageCutout.AddBkg.Color5.Red>0</NeoImaging.ImageCutout.AddBkg.Color5.Red>
	<UseOpenCL>0</UseOpenCL>
	<LastViewPath>C:\Users\Administrator\Desktop</LastViewPath>
	<ClipAdjustCommonPercent>
		<Item2>3 : 2</Item2>
		<Item1>1 : 1</Item1>
		<Item3>4 : 3</Item3>
		<Item4>16 : 9</Item4>
	</ClipAdjustCommonPercent>
	<MouseUseType>0</MouseUseType>
	<ResizeAdjustCommonHeight>
		<Item3>1200</Item3>
		<Item2>900</Item2>
		<Item1>600</Item1>
	</ResizeAdjustCommonHeight>
	<NeoImaging.ImageCutout.AddBkg.Color5.Blue>0</NeoImaging.ImageCutout.AddBkg.Color5.Blue>
	<IsNeedShowSaveCfg>1</IsNeedShowSaveCfg>
	<SortType>file_name</SortType>
	<IDPhotoName>8张2寸照--6寸/4R相纸</IDPhotoName>
	<ImageEditWnd.ToolBar.Share.Bubble.IsShown>1</ImageEditWnd.ToolBar.Share.Bubble.IsShown>
	<FodderTypeList>
		<item3>
			<albumType>2</albumType>
			<typeName>花样</typeName>
			<reqUrl>http://client.fodder.neoimaging.cn/albumInfo/index?type=2</reqUrl>
		</item3>
		<item5>
			<albumType>4</albumType>
			<typeName>多图</typeName>
			<reqUrl>http://client.fodder.neoimaging.cn/albumInfo/index?type=4</reqUrl>
		</item5>
		<item6>
			<albumType>11</albumType>
			<typeName>字体</typeName>
			<reqUrl>http://client.fodder.neoimaging.cn/font/index</reqUrl>
		</item6>
		<item1>
			<albumType>0</albumType>
			<typeName>全部素材</typeName>
			<reqUrl>http://client.fodder.neoimaging.cn/portal</reqUrl>
		</item1>
		<item4>
			<albumType>3</albumType>
			<typeName>撕边</typeName>
			<reqUrl>http://client.fodder.neoimaging.cn/albumInfo/index?type=3</reqUrl>
		</item4>
		<item2>
			<albumType>1</albumType>
			<typeName>轻松</typeName>
			<reqUrl>http://client.fodder.neoimaging.cn/albumInfo/index?type=1</reqUrl>
		</item2>
		<item7>
			<albumType>99</albumType>
			<typeName>我的素材</typeName>
			<needLogin>true</needLogin>
			<reqUrl>http://client.fodder.neoimaging.cn/albumInfo/myAlbum</reqUrl>
		</item7>
	</FodderTypeList>
	<MainWndHeight>max</MainWndHeight>
	<SaveAsSuffix>1</SaveAsSuffix>
	<MainWndWidth>max</MainWndWidth>
</Config>